html, body {
  font-family: gb;
  background: #ebeff2;
  margin: 0;
  padding-bottom: 60px;
  overflow-x: hidden;
  color: #797979;
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */
  content: "\e114";
  /* adjust as needed, taken from bootstrap.css */
  float: right;
  /* adjust as needed */
  color: grey;
  /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";
  /* adjust as needed, taken from bootstrap.css */
}

.btn-success {
  background-color: #F69334;
  border-color: #F69334;
  box-shadow: none;
  -webkit-transition: all ease-in-out 0.25s;
  -moz-transition: all ease-in-out 0.25s;
  -ms-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}
.btn-success:hover, .btn-success:visited, .btn-success:active, .btn-success:focus, .btn-success:active, .btn-success:active:hover {
  background-color: #EE562E;
  border-color: #EE562E;
  -webkit-transition: all ease-in-out 0.25s;
  -moz-transition: all ease-in-out 0.25s;
  -ms-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  box-shadow: none;
  outline: none;
}
.btn-success.btn-lg {
  padding: 12px 35px;
  font-weight: 600;
  text-transform: uppercase;
}

@font-face {
  font-family: 'gb';
  src: url("/fonts/gb.woff2") format("woff2"), url("/fonts/gb.woff") format("woff"), url("/fonts/gb.ttf") format("truetype"), url("/fonts/gb.svg#gothambook") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gb';
  src: url("/fonts/gb_bold.woff2") format("woff2"), url("/fonts/gb_bold.woff") format("woff"), url("/fonts/gb_bold.ttf") format("truetype"), url("/fonts/gb_bold.svg#gothambook") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "tb_icons";
  src: url("/fonts/tb_icon_font.eot?0c920fe76fec2d715791cc69b5d7574b");
  src: url("/fonts/tb_icon_font.eot?#iefix") format("embedded-opentype"), url("/fonts/tb_icon_font.woff?0c920fe76fec2d715791cc69b5d7574b") format("woff"), url("/fonts/tb_icon_font.ttf?0c920fe76fec2d715791cc69b5d7574b") format("truetype"), url("/fonts/tb_icon_font.svg?0c920fe76fec2d715791cc69b5d7574b#tb_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.tb_icon {
  font-family: "tb_icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tb_icon--plus_icon:before {
  content: "\f101";
}

body.popup-visible {
  overflow: hidden;
}

.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 1000;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-popup.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.cd-popup .cd-popup-container {
  position: relative;
  width: 90%;
  max-height: 80vh;
  max-width: 700px;
  overflow: scroll;
  margin: 6% auto;
  background: #FFF;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup .cd-popup-close {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #FFFFFF;
  text-decoration: none;
}
.cd-popup .cd-popup-close:hover {
  text-decoration: none;
}
.cd-popup.default .cd-popup-close {
  font-size: 30px;
  color: black;
  text-decoration: none;
}
.cd-popup.book_form .cd-popup-close {
  top: 26px;
  font-size: 22px;
  color: #f9f9f9;
  text-decoration: none;
}
.cd-popup.full_screen_popup .cd-popup-container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  border-radius: 0;
  box-shadow: none;
}
.cd-popup.full_screen_popup .cd-popup-close {
  color: #333333;
}

.text_black {
  color: #000;
}

.pg_header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65), transparent);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0, transparent);
}

.text_white {
  color: white;
}

.navbar-toggle .icon-bar {
  background: #9B9B9B;
}

.navbar.transparent .navbar-toggle .icon-bar {
  background: white;
}

.error-field {
  border: 2px solid red !important;
  box-shadow: none !important;
  outline: none !important;
}

.no_bottom_pad {
  padding-bottom: 0 !important;
}

.custom_swiper_1 .swiper-pagination-bullet-active {
  background: #EE562E;
}
.custom_swiper_1 .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  margin-right: 10px !important;
}
.custom_swiper_1 .swiper-pagination-bullets {
  bottom: -50px;
}
.custom_swiper_1 .swiper-wrapper {
  padding-bottom: 100px;
}

.medium-editor-insert-plugin p {
  font-size: 18px;
  font-weight: 300;
  color: #9b9b9b;
  line-height: 1.7;
  word-spacing: 2px;
  margin: 30px 0;
}
.medium-editor-insert-plugin ul {
  padding: 0;
  margin-left: 45px;
}
.medium-editor-insert-plugin ul li {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300 !important;
  color: #9B9B9B;
  padding: 0 0 5px 0;
  list-style: disc;
}
.medium-editor-insert-plugin ul li strong {
  font-weight: 600 !important;
}

.medium-insert-images figure figcaption,
.mediumInsert figure figcaption,
.medium-insert-embeds figure figcaption,
.mediumInsert-embeds figure figcaption {
  font-size: 12px;
  line-height: 1.2em;
}

.medium-insert-images-slideshow figure {
  width: 100%;
}

.medium-insert-images-slideshow figure img {
  margin: 0;
}

.medium-insert-images.medium-insert-images-grid.small-grid figure {
  width: 12.5%;
}

.medium-editor-insert-plugin .medium-insert-buttons {
  z-index: 2;
}

@media (max-width: 750px) {
  .medium-insert-images.medium-insert-images-grid.small-grid figure {
    width: 25%;
  }
}
@media (max-width: 450px) {
  .medium-insert-images.medium-insert-images-grid.small-grid figure {
    width: 50%;
  }
}
.server_error_msg {
  color: red;
  padding: 20px 0;
  font-weight: 500;
  font-size: 13px;
}

.modern_form {
  padding-top: 40px;
  padding-bottom: 40px;
}
.modern_form .cta_sec {
  border-top: 1px solid #dddddd;
  padding-top: 20px;
  margin-top: 40px;
}

.mr_t_10 {
  margin-top: 10px;
}

/* =============
   Helper clasess
============= */
.p-0 {
  padding: 0px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-l-0 {
  padding-left: 0px !important;
}

.p-r-0 {
  padding-right: 0px !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-l-r-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.m-0 {
  margin: 0px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.w-xs {
  min-width: 80px;
}

.w-sm {
  min-width: 95px;
}

.w-md {
  min-width: 110px;
}

.w-lg {
  min-width: 140px;
}

.m-h-40 {
  min-height: 40px;
}

.m-h-50 {
  min-height: 50px;
}

.l-h-34 {
  line-height: 34px;
}

.font-600 {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-normal {
  font-weight: normal;
}

.font-light {
  font-weight: 300;
}

.font-13 {
  font-size: 13px !important;
}

.wrapper-md {
  padding: 20px;
}

.pull-in {
  margin-left: -20px;
  margin-right: -20px;
}

.b-0 {
  border: none !important;
}

.vertical-middle {
  vertical-align: middle;
}

.bx-shadow {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.bx-shadow-none {
  box-shadow: none !important;
}

/* =============
   Buttons
============= */
.btn {
  border-radius: 2px;
  padding: 6px 14px;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 10px 16px !important;
  font-size: 16px;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 5px 10px !important;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 1px 5px !important;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 0px;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

.btn-custom,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-inverse,
.btn-purple,
.btn-pink {
  color: #ffffff !important;
  outline: none;
}

.btn-custom {
  background-color: #71b6f9;
  border-color: #71b6f9;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
  background-color: #59a9f8 !important;
  border: 1px solid #59a9f8 !important;
}

.btn-default {
  background-color: rgba(218, 230, 236, 0.3);
  border-color: rgba(218, 230, 236, 0.5);
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
  background-color: rgba(218, 230, 236, 0.5) !important;
  border: 1px solid rgba(218, 230, 236, 0.7) !important;
}

.btn-primary {
  background-color: #188ae2 !important;
  border: 1px solid #188ae2 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  background-color: #167ccb !important;
  border: 1px solid #167ccb !important;
}

.btn-success {
  background-color: #10c469 !important;
  border: 1px solid #10c469 !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open > .dropdown-toggle.btn-success {
  background-color: #0eac5c !important;
  border: 1px solid #0eac5c !important;
}

.btn-info {
  background-color: #35b8e0 !important;
  border: 1px solid #35b8e0 !important;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open > .dropdown-toggle.btn-info {
  background-color: #21afda !important;
  border: 1px solid #21afda !important;
  outline: none;
}

.btn-warning {
  background-color: #f9c851 !important;
  border: 1px solid #f9c851 !important;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open > .dropdown-toggle.btn-warning {
  background-color: #f8c038 !important;
  border: 1px solid #f8c038 !important;
}

.btn-danger {
  background-color: #ff5b5b !important;
  border: 1px solid #ff5b5b !important;
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open > .dropdown-toggle.btn-danger {
  background-color: #ff4242 !important;
  border: 1px solid #ff4242 !important;
}

.btn-inverse {
  background-color: #3b3e47 !important;
  border: 1px solid #3b3e47 !important;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover,
.open > .dropdown-toggle.btn-inverse {
  background-color: #2f3239 !important;
  border: 1px solid #2f3239 !important;
}

.btn-purple {
  background-color: #5b69bc !important;
  border: 1px solid #5b69bc !important;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
  background-color: #4a59b4 !important;
  border: 1px solid #4a59b4 !important;
}

.btn-pink {
  background-color: #ff8acc !important;
  border: 1px solid #ff8acc !important;
}

.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active {
  background-color: #ff70c1 !important;
  border: 1px solid #ff70c1 !important;
}

.btn-bordred {
  border-bottom: 3px solid transparent;
}

.btn-bordred.btn-default {
  background-color: #dae6ec;
  border-bottom: 2px solid #c2d6e0 !important;
}

.btn-bordred.btn-custom {
  background-color: #71b6f9;
  border-bottom: 2px solid #4fa4f8 !important;
}

.btn-bordred.btn-primary {
  border-bottom: 2px solid #1576c2 !important;
}

.btn-bordred.btn-success {
  border-bottom: 2px solid #0da357 !important;
}

.btn-bordred.btn-info {
  border-bottom: 2px solid #20a8d1 !important;
}

.btn-bordred.btn-warning {
  border-bottom: 2px solid #f7b820 !important;
}

.btn-bordred.btn-danger {
  border-bottom: 2px solid #ff2828 !important;
}

.btn-bordred.btn-inverse {
  border-bottom: 2px solid #0d0d0f !important;
}

.btn-bordred.btn-purple {
  border-bottom: 2px solid #4755ad !important;
}

.btn-bordred.btn-pink {
  border-bottom: 2px solid #ff66bc !important;
}

.btn-rounded {
  border-radius: 2em;
  padding: 6px 18px;
}

.btn-trans.btn-default {
  border: 1px solid rgba(218, 230, 236, 0.1) !important;
  background-color: rgba(218, 230, 236, 0.3) !important;
  color: #435966 !important;
}

.btn-trans.btn-custom {
  border: 1px solid rgba(113, 182, 249, 0.1) !important;
  background-color: rgba(113, 182, 249, 0.15) !important;
  color: #71b6f9 !important;
}

.btn-trans.btn-primary {
  border: 1px solid rgba(24, 138, 226, 0.1) !important;
  background-color: rgba(24, 138, 226, 0.15) !important;
  color: #188ae2 !important;
}

.btn-trans.btn-success {
  border: 1px solid rgba(16, 196, 105, 0.1) !important;
  background-color: rgba(16, 196, 105, 0.15) !important;
  color: #10c469 !important;
}

.btn-trans.btn-info {
  border: 1px solid rgba(53, 184, 224, 0.1) !important;
  background-color: rgba(53, 184, 224, 0.15) !important;
  color: #35b8e0 !important;
}

.btn-trans.btn-warning {
  border: 1px solid rgba(249, 200, 81, 0.1) !important;
  background-color: rgba(249, 200, 81, 0.15) !important;
  color: #f9c851 !important;
}

.btn-trans.btn-danger {
  border: 1px solid rgba(255, 91, 91, 0.1) !important;
  background-color: rgba(255, 91, 91, 0.15) !important;
  color: #ff5b5b !important;
}

.btn-trans.btn-inverse {
  border: 1px solid rgba(59, 62, 71, 0.1) !important;
  background-color: rgba(59, 62, 71, 0.15) !important;
  color: #3b3e47 !important;
}

.btn-trans.btn-purple {
  border: 1px solid rgba(91, 105, 188, 0.1) !important;
  background-color: rgba(91, 105, 188, 0.15) !important;
  color: #5b69bc !important;
}

.btn-trans.btn-pink {
  border: 1px solid rgba(255, 138, 204, 0.1) !important;
  background-color: rgba(255, 138, 204, 0.15) !important;
  color: #ff8acc !important;
}

/* Text colors */
.text-custom {
  color: #71b6f9 !important;
}

.text-white {
  color: #ffffff !important;
}

.text-danger {
  color: #ff5b5b !important;
}

.text-muted {
  color: #98a6ad !important;
}

.text-primary {
  color: #188ae2 !important;
}

.text-warning {
  color: #f9c851 !important;
}

.text-success {
  color: #10c469 !important;
}

.text-info {
  color: #35b8e0 !important;
}

.text-inverse {
  color: #3b3e47 !important;
}

.text-pink {
  color: #ff8acc !important;
}

.text-purple {
  color: #5b69bc !important;
}

.text-dark {
  color: #797979 !important;
}

/* Form components */
textarea.form-control {
  min-height: 90px;
}

.form-control {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: #565656;
  padding: 7px 12px;
  height: 38px;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.form-control:focus {
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  color: #333333;
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.form-horizontal .form-group {
  margin-left: -10px;
  margin-right: -10px;
}

.form-control-feedback {
  line-height: 38px !important;
}

.input-group-btn .btn {
  padding: 8px 12px;
}

.input-group-btn .btn-sm {
  padding: 5px 10px;
}

.input-group-btn .btn-lg {
  padding: 10px 17px;
}

/* =============
   Checkbox and Radios
============= */
.checkbox {
  padding-left: 20px;
}

.checkbox label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
}

.checkbox label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #cccccc;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 17px;
  outline: none !important;
}

.checkbox label::after {
  color: #555555;
  display: inline-block;
  font-size: 11px;
  height: 16px;
  left: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: 0;
  width: 16px;
}

.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline-offset: -2px;
  outline: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "\f00c";
  font-family: 'FontAwesome';
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox.checkbox-single label {
  height: 17px;
}

.checkbox-custom input[type="checkbox"]:checked + label::before {
  background-color: #71b6f9;
  border-color: #71b6f9;
}

.checkbox-custom input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #188ae2;
  border-color: #188ae2;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #ff5b5b;
  border-color: #ff5b5b;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #35b8e0;
  border-color: #35b8e0;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f9c851;
  border-color: #f9c851;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #10c469;
  border-color: #10c469;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}

.checkbox-purple input[type="checkbox"]:checked + label::before {
  background-color: #5b69bc;
  border-color: #5b69bc;
}

.checkbox-purple input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}

.checkbox-pink input[type="checkbox"]:checked + label::before {
  background-color: #ff8acc;
  border-color: #ff8acc;
}

.checkbox-pink input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}

.checkbox-inverse input[type="checkbox"]:checked + label::before {
  background-color: #3b3e47;
  border-color: #3b3e47;
}

.checkbox-inverse input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}

/* Radios */
.radio {
  padding-left: 20px;
}

.radio label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
}

.radio label::before {
  -o-transition: border 0.5s ease-in-out;
  -webkit-transition: border 0.5s ease-in-out;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #cccccc;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  outline: none !important;
  position: absolute;
  transition: border 0.5s ease-in-out;
  width: 17px;
}

.radio label::after {
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -webkit-transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  background-color: #555555;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 11px;
  left: 3px;
  margin-left: -20px;
  position: absolute;
  top: 3px;
  transform: scale(0, 0);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  width: 11px;
}

.radio input[type="radio"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.radio input[type="radio"]:focus + label::before {
  outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

.radio.radio-single label {
  height: 17px;
}

.radio-custom input[type="radio"] + label::after {
  background-color: #71b6f9;
}

.radio-custom input[type="radio"]:checked + label::before {
  border-color: #71b6f9;
}

.radio-custom input[type="radio"]:checked + label::after {
  background-color: #71b6f9;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #188ae2;
}

.radio-primary input[type="radio"]:checked + label::before {
  border-color: #188ae2;
}

.radio-primary input[type="radio"]:checked + label::after {
  background-color: #188ae2;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #ff5b5b;
}

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #ff5b5b;
}

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #ff5b5b;
}

.radio-info input[type="radio"] + label::after {
  background-color: #35b8e0;
}

.radio-info input[type="radio"]:checked + label::before {
  border-color: #35b8e0;
}

.radio-info input[type="radio"]:checked + label::after {
  background-color: #35b8e0;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f9c851;
}

.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f9c851;
}

.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f9c851;
}

.radio-success input[type="radio"] + label::after {
  background-color: #10c469;
}

.radio-success input[type="radio"]:checked + label::before {
  border-color: #10c469;
}

.radio-success input[type="radio"]:checked + label::after {
  background-color: #10c469;
}

.radio-purple input[type="radio"] + label::after {
  background-color: #5b69bc;
}

.radio-purple input[type="radio"]:checked + label::before {
  border-color: #5b69bc;
}

.radio-purple input[type="radio"]:checked + label::after {
  background-color: #5b69bc;
}

.radio-pink input[type="radio"] + label::after {
  background-color: #ff8acc;
}

.radio-pink input[type="radio"]:checked + label::before {
  border-color: #ff8acc;
}

.radio-pink input[type="radio"]:checked + label::after {
  background-color: #ff8acc;
}

/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  outline: none !important;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-block {
  display: block;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.4);
}

.waves-effect.waves-custom .waves-ripple {
  background-color: rgba(113, 182, 249, 0.4);
}

.waves-effect.waves-primary .waves-ripple {
  background-color: rgba(24, 138, 226, 0.4);
}

.waves-effect.waves-success .waves-ripple {
  background-color: rgba(16, 196, 105, 0.4);
}

.waves-effect.waves-info .waves-ripple {
  background-color: rgba(53, 184, 224, 0.4);
}

.waves-effect.waves-warning .waves-ripple {
  background-color: rgba(249, 200, 81, 0.4);
}

.waves-effect.waves-danger .waves-ripple {
  background-color: rgba(255, 91, 91, 0.4);
}

.waves-effect.waves-pink .waves-ripple {
  background-color: rgba(255, 138, 204, 0.4);
}

.waves-effect.purple .waves-ripple {
  background-color: rgba(91, 105, 188, 0.2);
}

.waves-effect.waves-inverse .waves-ripple {
  background-color: rgba(59, 62, 71, 0.4);
}

/* Page titles */
.page-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 70px;
}

.page-header {
  border-bottom: 1px solid #DBDDDE;
}

.header-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 8px;
}

.thumb {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 100%;
}

.thumb-img {
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
}

.gal-detail h4 {
  margin-top: 16px;
  font-weight: 600;
  font-size: 16px;
  padding: 0px 5px;
}

.gal-detail p {
  padding: 0px 5px;
  font-size: 13px;
}

.blog_article_sec {
  background: #F7F7F7;
  padding-top: 80px;
  padding-bottom: 80px;
}
.blog_article_sec .sec_title {
  font-family: "Ultra", cursive;
  text-align: center;
  margin: 0 0 70px 0;
  font-size: 46px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1px;
  word-spacing: 10px;
  position: relative;
  padding: 0 0 20px 0;
  color: #000;
}
.blog_article_sec .sec_title:after {
  content: '';
  height: 1px;
  width: 200px;
  background: #9B9B9B;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.blog_article_sec .cta_wrap {
  padding-top: 60px;
  text-align: center;
}
.blog_article_sec .cta_wrap .cta {
  background: #EE562E;
  border: 1px solid #EE562E;
  border-radius: 100px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  padding: 13px 40px;
  text-decoration: none;
}
.blog_article_sec .img_wrap {
  display: block;
  min-height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.blog_article_sec .more-link {
  display: none;
}
.blog_article_sec .details_wrap {
  padding: 25px 15px;
  background: #fff;
  text-align: left;
}
.blog_article_sec .details_wrap .title {
  font-weight: 600;
  font-size: 18px;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
.blog_article_sec .details_wrap .title a {
  color: #515152;
}
.blog_article_sec .details_wrap .author {
  color: #F69334;
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
  padding: 15px 0 0 0;
}
.blog_article_sec .details_wrap .tag {
  color: #F69334;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 0 20px 0;
}
.blog_article_sec .details_wrap .desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  color: #9B9B9B;
}

@media (min-width: 768px) and (max-width: 991px) {
  .article_list .article {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .article_list .article {
    margin-bottom: 40px;
  }
}
.page_header .navbar {
  margin: 0;
}

.navbar.transparent {
  padding: 25px 0;
  border-radius: 0;
  border: 0;
}
.navbar.transparent a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding: 10px 25px;
  transition: all 0.2s ease-in-out;
}
.navbar.transparent a:after {
  content: '';
  height: 70%;
  top: 15%;
  width: 1px;
  background: rgba(255, 255, 255, 0.29);
  position: absolute;
  right: 0;
}
.navbar.transparent a:before {
  transition: all 0.2s ease-in-out;
  content: '';
  height: 4px;
  width: 0;
  background: #F69334;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.navbar.transparent a.no_br:after {
  display: none;
}
.navbar.transparent a.no_br_ani:before {
  display: none;
}
.navbar.transparent li.active a,
.navbar.transparent a:hover {
  color: #fff;
}
.navbar.transparent li.active a:before,
.navbar.transparent a:hover:before {
  transition: all 0.2s ease-in-out;
  content: '';
  height: 4px;
  width: 60%;
  left: 20%;
  background: #F69334;
  position: absolute;
  bottom: 0;
}
.navbar.transparent a.navbar-brand {
  font-size: 26px;
  color: #fff;
  padding: 0;
}
.navbar.transparent li.hightlight a {
  color: #fff;
}
.navbar.transparent li.hightlight a :hover {
  color: #fff;
}
.navbar.transparent .nav > li > a:focus,
.navbar.transparent .nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}

.navbar.normal {
  padding: 20px 0 10px 0;
  border-radius: 0;
}
.navbar.normal a {
  color: #555;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding: 10px 25px;
  transition: all 0.2s ease-in-out;
}
.navbar.normal a:after {
  content: '';
  height: 70%;
  top: 15%;
  width: 1px;
  background: rgba(23, 22, 22, 0.29);
  position: absolute;
  right: 0;
}
.navbar.normal a:before {
  transition: all 0.2s ease-in-out;
  content: '';
  height: 4px;
  width: 0;
  background: #F69334;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.navbar.normal a.no_br:after {
  display: none;
}
.navbar.normal a.no_br_ani:before {
  display: none;
}
.navbar.normal li.active a,
.navbar.normal a:hover {
  color: #555;
}
.navbar.normal li.active a:before,
.navbar.normal a:hover:before {
  transition: all 0.2s ease-in-out;
  content: '';
  height: 4px;
  width: 60%;
  left: 20%;
  background: #F69334;
  position: absolute;
  bottom: 0;
}
.navbar.normal a.navbar-brand {
  font-size: 26px;
  color: #555;
  padding: 0;
}
.navbar.normal li.hightlight a {
  color: #555;
}
.navbar.normal li.hightlight a :hover {
  color: #555;
}
.navbar.normal .nav > li > a:focus,
.navbar.normal .nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}

@media only screen and (max-width: 680px) {
  /* styles for browsers smaller than 680px; */
  .navbar.transparent a:hover:before, .navbar.transparent li.active a:before {
    left: 24px;
  }

  .navbar.transparent li a:after {
    display: none;
  }

  .navbar.normal a:hover:before, .navbar.normal li.active a:before {
    left: 24px;
  }

  .navbar.normal li a:after {
    display: none;
  }
}
.footer {
  background: #222222;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer .links_wrap {
  position: relative;
}
.footer .links_wrap:after {
  content: '';
  top: 50px;
  width: 1px;
  background: rgba(255, 255, 255, 0.24);
  position: absolute;
  right: 0;
  min-height: 132px;
}
.footer .links_wrap.no_br:after {
  display: none;
}
.footer .links_wrap .title {
  font-weight: 600;
  font-size: 16px;
  color: #F69334;
  margin: 0;
  list-style: none;
  padding: 0 0 20px 0;
}
.footer .links_wrap .link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.8;
  color: #ffffff;
  padding: 0 0 10px 0;
  list-style: none;
}
.footer .links_wrap .link a {
  color: #ffffff;
}
.footer .links_wrap .link.last {
  padding-bottom: 0;
}

.copyright_sec {
  color: rgba(255, 255, 255, 0.67);
  padding-top: 20px;
  padding-bottom: 20px;
  background: #000000;
}
.copyright_sec .highlight_two {
  color: #EE562E;
}
.copyright_sec .highlight_one {
  color: #F69334;
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer .links_wrap {
    margin-top: 30px;
  }
  .footer .links_wrap:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer .links_wrap {
    margin-top: 30px;
  }
  .footer .links_wrap:after {
    display: none;
  }

  .copyright_sec .section_right {
    padding-top: 10px;
    text-align: left;
  }
}
.blog_editor_sec {
  padding-top: 60px;
  padding-bottom: 160px;
}
.blog_editor_sec_wrap {
  background: white;
}

.blog_basic_details_form {
  padding: 0;
}

.blog_form_sec {
  background: #ecf0f1;
  padding: 40px 0 0 0;
}
.blog_form_sec.inactive {
  padding: 0;
}
.blog_form_sec.inactive .container {
  display: none;
}
.blog_form_sec.inactive .fa-angle-double-up:before {
  content: "\f103";
}
.blog_form_sec .close_drawer {
  margin-top: 0;
}

.blog_cta_sec {
  background: #7f8c8d;
  padding: 40px 0;
}

.close_drawer {
  position: relative;
  text-align: center;
  margin-top: 40px;
  background: rgba(183, 203, 208, 0.36);
  font-size: 24px;
  color: #659fca;
}
.close_drawer .icon_wrap {
  display: inline-block;
  padding: 2px 35px;
  cursor: pointer;
}

.card-box {
  padding: 20px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.card-box .card-drop {
  color: #98a6ad;
  font-size: 20px;
  line-height: 1px;
  padding: 0px 5px;
  display: inline-block;
}

.wrapper-page {
  margin: 5% auto;
  position: relative;
  width: 420px;
}

.wrapper-page .card-box {
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

.wrapper-page .logo {
  font-size: 42px;
}

.blog_internal_pg {
  background: white;
}
.blog_internal_pg .hero_banner_wrap {
  background: url(/img/blog-details-banner-back.jpg) top left no-repeat;
  color: #fff;
  background-size: cover;
  min-height: 480px;
  position: relative;
}
.blog_internal_pg .blog_title_sec_wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 35px 0;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65), transparent);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0, transparent);
}
.blog_internal_pg .blog_title_sec_wrap .hd_title {
  font-family: "Ultra", cursive;
  margin: 0 0 -10px 0;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 1px;
  word-spacing: 10px;
  padding: 0 0 10px 0;
}
.blog_internal_pg .blog_title_sec_wrap ul {
  margin: 0;
  padding: 0;
}
.blog_internal_pg .blog_title_sec_wrap ul li.author,
.blog_internal_pg .blog_title_sec_wrap ul li.date {
  color: white;
  text-transform: capitalize;
  list-style: none;
  font-size: 18px;
  opacity: 0.7;
}
.blog_internal_pg .full-article_sec {
  padding-bottom: 80px;
}
.blog_internal_pg .full-article_sec a.back {
  background: transparent;
  color: #EE562E;
  border: 1px solid #EE562E;
  border-radius: 100px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 10px 30px;
  text-decoration: none;
  margin: 40px 0;
}
.blog_internal_pg .full-article_sec a.back_wrap {
  margin: 40px 0 0 0;
}
.blog_internal_pg .full-article_sec a.back:hover {
  background: #EE562E;
  color: #FFF;
}
.blog_internal_pg .full-article_sec .sec_title {
  font-family: "Ultra", cursive;
  text-transform: capitalize;
  color: #000;
  margin: 0 0 30px 0;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.6;
  position: relative;
  padding: 0 0 20px 0;
}
.blog_internal_pg .full-article_sec .sec_title:after {
  content: '';
  height: 1px;
  width: 120px;
  background: rgba(155, 155, 155, 0.48);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.blog_internal_pg .full-article_sec ul {
  padding: 0;
  margin-left: 45px;
}
.blog_internal_pg .full-article_sec ul li {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300 !important;
  color: #9B9B9B;
  padding: 0 0 5px 0;
  list-style: disc;
}
.blog_internal_pg .full-article_sec ul li strong, .blog_internal_pg .full-article_sec ul li b {
  font-weight: bold;
  color: #797979;
  font-size: 16px;
}
.blog_internal_pg .full-article_sec ul li span {
  font-weight: inherit !important;
}
.blog_internal_pg .full-article_sec ul li b, .blog_internal_pg .full-article_sec ul li strong {
  font-weight: 600 !important;
}
.blog_internal_pg .full-article_sec ul li.author,
.blog_internal_pg .full-article_sec ul li.date {
  color: #F69334;
  text-transform: capitalize;
}
.blog_internal_pg .full-article_sec ul li.category {
  color: #EE562E;
  position: relative;
}
.blog_internal_pg .full-article_sec ul li.category:before {
  content: '';
  height: 5px;
  border-radius: 50%;
  width: 5px;
  background: #F4842C;
  position: absolute;
  top: 10px;
  left: -12px;
}
.blog_internal_pg .full-article_sec ul li.category:after {
  content: '';
  height: 5px;
  border-radius: 50%;
  width: 5px;
  background: #F4842C;
  position: absolute;
  top: 10px;
  right: -12px;
}
.blog_internal_pg .full-article_sec .author_details {
  margin: 0;
}
.blog_internal_pg .full-article_sec .author_details li {
  display: inline-block;
}
.blog_internal_pg .full-article_sec p {
  font-size: 18px;
  font-weight: 300;
  color: #9B9B9B;
  line-height: 1.7;
  word-spacing: 2px;
  margin: 30px 0;
}
.blog_internal_pg .full-article_sec p span {
  font-weight: inherit !important;
}
.blog_internal_pg .full-article_sec p b, .blog_internal_pg .full-article_sec p strong {
  font-weight: 600 !important;
}
.blog_internal_pg .full-article_sec h2 {
  font-size: 26px;
  font-weight: 700;
  margin: 40px 0 20px 0;
}
.blog_internal_pg .full-article_sec .author-info {
  border-top: 1px solid rgba(155, 155, 155, 0.47);
  border-bottom: 1px solid rgba(155, 155, 155, 0.47);
  padding: 20px 0;
}
.blog_internal_pg .full-article_sec .author-info h5 {
  font-weight: 600;
}
.blog_internal_pg .full-article_sec .author-info h4 {
  text-transform: uppercase;
  color: #EE562E;
  font-weight: 700;
}
.blog_internal_pg .full-article_sec .author-info span {
  font-style: italic;
}
.blog_internal_pg .full-article_sec .author-info p {
  margin: 20px 0;
}
.blog_internal_pg .full-article_sec .comments {
  padding: 40px 0 0 0;
}
.blog_internal_pg .full-article_sec .comments h2 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.blog_internal_pg .full-article_sec .comments h2 span {
  color: #9B9B9B;
}
.blog_internal_pg .full-article_sec .comments .comment-list {
  margin-bottom: 30px;
}
.blog_internal_pg .full-article_sec .comments .comment-list h5 {
  font-weight: 400;
}
.blog_internal_pg .full-article_sec .comments .comment-list h4 {
  font-size: 14px;
  color: #EE562E;
  font-weight: 300;
  font-style: italic;
}
.blog_internal_pg .full-article_sec .comments .comment-list p {
  margin: 10px 0;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog_internal_pg .full-article_sec .comments a.view-btn {
  background: transparent;
  color: #EE562E;
  border: 1px solid #EE562E;
  border-radius: 100px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 10px 30px;
  text-decoration: none;
  margin: 20px 0;
}
.blog_internal_pg .full-article_sec .comments a.view-btn_wrap {
  margin: 40px 0 0 0;
}
.blog_internal_pg .full-article_sec .comments a.view-btn:hover {
  background: #EE562E;
  color: #FFF;
}
.blog_internal_pg .full-article_sec .comments h3 {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.blog_internal_pg .full-article_sec .comments form input,
.blog_internal_pg .full-article_sec .comments form textarea {
  border: 1px solid rgba(155, 155, 155, 0.35);
  border-radius: 0;
  margin: 20px 0;
  font-size: 18px;
}
.blog_internal_pg .full-article_sec .comments form input:focus,
.blog_internal_pg .full-article_sec .comments form textarea:focus {
  border: 1px solid #EE562E;
  box-shadow: none;
}
.blog_internal_pg .full-article_sec .comments form input::-webkit-input-placeholder,
.blog_internal_pg .full-article_sec .comments form textarea::-webkit-input-placeholder {
  color: #555;
}
.blog_internal_pg .full-article_sec .comments form input {
  height: 50px;
}
.blog_internal_pg .full-article_sec .comments form .cta {
  background: #EE562E;
  border: 1px solid #EE562E;
  border-radius: 100px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  padding: 12px 40px;
  text-decoration: none;
}
.blog_internal_pg .full-article_sec .comments form .cta_wrap {
  margin: 40px 0 0 0;
}
.blog_internal_pg .full-article_sec .comments .success_form_sec {
  background: #F69334;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
.blog_internal_pg .full-article_sec .comments .success_form_sec.active {
  height: 100%;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
.blog_internal_pg .full-article_sec .comments .success_form_sec .table {
  display: table;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
}
.blog_internal_pg .full-article_sec .comments .success_form_sec .table .table_cell {
  display: table-cell;
  vertical-align: middle;
}
.blog_internal_pg .full-article_sec .comments .success_form_sec .icon_wrap {
  padding: 0 0 20px 0;
}
.blog_internal_pg .full-article_sec .comments .success_form_sec .main_txt {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.8px;
}
.blog_internal_pg .full-article_sec .comments .success_form_sec .sub_text {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 1.5;
}
