$body_txt_font: gb;
$header_txt_font:'Ultra', cursive;

$brand_color_1: #F69334;
$brand_color_2: #EE562E;
$text_color_1: #9B9B9B;
$text_color_2: #515152;
$text_color_3: #4A4A4A;
$back_color_1: #222222;
$back_color_2: rgba(155, 155, 155, 0.13);
$border_color_1: #9B9B9B;
$border_color_2: #979797;
