<div class="cd-popup is-visible {{theme}}" role="alert" id="windowPopup">
    <div class="cd-popup-container">
        {{{html}}}
        <a href="#0" class="cd-popup-close">
            <i class="tr_icon tr_icon--close_icon icon cd-popup-close-icon"></i>
        </a>
    </div>
</div>